*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background: #f4f4f4;
/* Tipografía moderna sans-serif ideal para entornos de software */
font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

.titulo{
text-align: center;
margin-top: 30px;
margin-bottom: 20px;
color: #333;
letter-spacing: 3px;
font-size: 35px;
}

.container{
display: flex;
margin: auto;
width: 95%;
height: 700px;
border: 2px solid #444;
background: white;
}

/* HORAS */

.horas{
width: 20%;
height: auto;
display: flex;
flex-direction: column;
border-right: 2px solid #555;
}

.hora{
flex: 1;
border-bottom: 1px dashed #777;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-weight: bold;
font-size: 13px;
}

.encabezado-hora{
background: #222;
color: white;
font-size: 18px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
height: 100px; /* Igualado a 100px para alineación horizontal perfecta */
border-bottom: 2px solid #555;
}

/* DÍAS */

.dias{
width: 80%;
display: flex;
}

.dia{
flex: 1;
border-right: 1px solid #777;
display: flex;
flex-direction: column;
align-items: center;
}

.dia:last-child{
border-right: none;
}

.encabezado{
width: 100%;
height: 100px;
background: #222;
color: white;
font-size: 22px;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
border-bottom: 2px solid #555;
}

/* MATERIAS */

.materia{
width: 90%;
height: 285px; /* Ajustado para que las tarjetas quepan perfectamente */
margin-top: 10px;
border-radius: 15px;
padding: 12px;
color: white;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
transition: 0.3s;
}

.materia:hover{
transform: scale(1.03);
}

/* IMÁGENES */

.materia img{
width: 60px;
height: 60px;
margin-bottom: 10px;
border-radius: 20px;
}

/* TEXTOS DENTRO DE LAS TARJETAS */

.materia h3{
font-size: 20px;
margin-bottom: 8px;
font-weight: 700;
letter-spacing: 0.5px;
}

.materia p{
font-size: 14px;
margin-bottom: 8px;
line-height: 1.3;
}

.materia span{
font-size: 14px;
font-weight: bold;
opacity: 0.9;
}

/* ESPACIADOR PARA EL MIÉRCOLES */
.espacio-libre {
height: 95px; /* Empuja la tarjeta de inglés hacia abajo emulando las horas vacías */
width: 100%;
}

/* GRADIENTES Y COLORES */

.derechos{
background: linear-gradient(135deg, #4e54c8, #363cb1);
}

.tecnicas{
background: linear-gradient(135deg, #fc466b, #2039b8);
}

.interfaz{
background: linear-gradient(135deg, #04ddc4, #7db818);
}

.ingles{
background: linear-gradient(135deg, #11998e, #38ef7d);
}

.codificacion{
background: linear-gradient(135deg, #ecb41a, #ffd200);
}

.bases{
background: linear-gradient(135deg, #1d976c, #93f9b9);
}